<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV convert</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="title">
        <h1><span>CSV </span>CONVERT</h1>
    </div>
    <div class="preamble">
    <h2>Convertisseur de fichier</h2>
    <p>Convertissez vos fichiers fixes comprenant des données utilisateurs 
        (nom, prénom, date de naissance et poids)
        au format csv suivant : Date de naissance, Prénom, Nom, Poids</p>
    </div>
    <div class="card">
     <script type="module">
  // Importer la fonction depuis le fichier handleFileSelect.js
  import { handleFileSelect } from "/js/handleFileSelect.js";

   // Attacher l'événement onchange à l'élément input
   document.getElementById("file").addEventListener("change", handleFileSelect);
</script>
    <label for="file" class="label">Choisir le fichier</label>
    <input type="file" id="file" accept=".txt, .csv, .doc" hidden className="choose"  ></input>
    <h3>Séléctionnez votre fichier à convertir</h3>
    <ul class="list">les données du fichiers doivent comprendre :
        <li>Une date de naissance</li>
        <li>Un prénom</li>
        <li>Un nom</li>
        <li>Un poids</li>
    </ul>
    <button class="convert" onclick="convertFiles()">Convertir le/les fichier(s)</button>
    <p>Le téléchargement du fichier sera automatiquement lancé après la conversion du fichier
    </p>
    </div>
    <!-- Script -->
    <script>

    // Méthode pour afficher les erreurs dans une alerte
  function displayErrors(errors) {
    let errorMessage = "Erreurs de conversion :\n";
    errors.forEach((error) => {
      errorMessage += `Fichier : ${error.filename}, Ligne : ${error.line}, Description : ${error.desc}\n`;
    });
    alert(errorMessage);
  }
// Méthode pour effectuer une requête API au serveur
function convertFiles() {
    fetch('/upload', {
      method: 'POST',
    })
    .then(response => {
      if (response.ok) {
        alert('Fichiers convertis avec succès !');
      } else {
        response.json().then(errors => {
          displayErrors(errors); //  Appeler la fonction displayErrors avec les erreurs renvoyées par le serveur
        }).catch(error => {
          alert('Une erreur est survenue lors de la conversion des fichiers.');
          console.error('Erreur :', error);
        });
      }
    })
    .catch(error => {
      alert('Une erreur est survenue lors de la conversion des fichiers.');
      console.error('Erreur :', error);
    });
  }
</script>
    
    
</body>
</html>