<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV convert</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="title">
        <h1><span>CSV </span>CONVERT</h1>
    </div>
    <div class="preamble">
    <h2>Convertisseur de fichier</h2>
    <p>Convertissez vos fichiers fixes comprenant des données utilisateurs 
        (nom, prénom, date de naissance et poids)
        au format csv suivant : Date de naissance, Prénom, Nom, Poids</p>
    </div>
    <div class="card">
     <script type="module">
  // Importer la fonction depuis le fichier handleFileSelect.js
  import { handleFileSelect } from "/js/handleFileSelect.js";

   // Attacher l'événement onchange à l'élément input
   document.getElementById("file").addEventListener("change", handleFileSelect);
</script>

    <!-- BEGIN GESTION DES MESSAGES -->
    <section id="panel_message" class="panel-message hidden">
      <div class="message success hidden" id="message_success">
        Message en cas de succès
      </div>
      <div class="message error hidden" id="message_error">
        Message en cas d'erreur
      </div>
  </section>
    <!-- END GESTION DES MESSAGES -->


    <label for="file" class="label">Choisir le fichier</label>
    <input type="file" id="file" accept=".txt, .csv, .doc" hidden className="choose"  ></input>
    <h3>Séléctionnez votre fichier à convertir</h3>
    <ul class="list">les données du fichiers doivent comprendre :
        <li>Une date de naissance</li>
        <li>Un prénom</li>
        <li>Un nom</li>
        <li>Un poids</li>
    </ul>

    
    <button class="convert" onclick="convertFiles()">Convertir le/les fichier(s)</button>
    <p>Si la conversion a réussi les fichiers seront téléchargés automatiquement
    </p>
    <!-- BEGIN GESTION DES MESSAGES -->
    <section id="panel_message_convert" class="panel-message hidden">
      <div class="message success hidden" id="message_success_convert">
        Message en cas de succès
      </div>
      <div class="message error hidden" id="message_error_convert">
        Message en cas d'erreur
      </div>
  </section>
    <!-- END GESTION DES MESSAGES -->

    </div>
    <!-- Script -->
    <script>

    // Méthode pour afficher les erreurs dans une alerte
  function displayErrors(errors) {
    let errorMessage = "Erreurs de conversion :\n";
    errors.forEach((error) => {
      errorMessage += `Fichier : ${error.filename}, Ligne : ${error.line}, Description : ${error.desc}\n`;
    });
    const oMessageError = document.getElementById('message_error_convert');
    oMessageError.innerText = errorMessage;
    oMessageError.classList.remove('hidden');
    //alert(errorMessage);
  }
// Méthode pour effectuer une requête API au serveur
function convertFiles() {

    // Masquer le panel des messages 
    const oPanelMessage = document.getElementById('panel_message_convert');
    oPanelMessage.classList.add('hidden');

    fetch('/upload', {
      method: 'POST',
    })
    .then(response => {
      if (response.ok) {

         // Une fois les fichiers convertis, déclencher le téléchargement en utilisant l'élément <a>
          const downloadLink = document.createElement('a');
        downloadLink.href = '/download'; // Lien vers l'endpoint de téléchargement
        downloadLink.download = 'fichiers_convertis.zip'; // Nom du fichier à télécharger

        // Simuler un clic sur le lien de téléchargement pour déclencher le téléchargement
        downloadLink.click();

        //alert('Fichiers convertis avec succès !');
        const oPanelMessage = document.getElementById('panel_message_convert');
        const oMessageSuccess = document.getElementById('message_success_convert');
        oMessageSuccess.innerText = 'Fichiers convertis avec succès !';
        oMessageSuccess.classList.remove('hidden');
        oPanelMessage.classList.remove('hidden');

        response.json().then(errors => {
          if (errors.length > 0) displayErrors(errors); //  Appeler la fonction displayErrors avec les erreurs renvoyées par le serveur
        });
      } else {
        alert('Une erreur est survenue le fichier n\'a pas pu être converti.');
        console.error('Erreur :', response);
      }
    });
  }
</script>
    
    
</body>
</html>